<div class=".new-book-page-container">
    <div class="section-hero-text center new-book-hero-text">
        <h2>New Book</h2>
    </div>
    <div class="new-book-form center">
        <form action="/books" method="POST" >
            <%- include('./_form_fields') %>
        <div class="form-btns">
            <a class="btn btn-primary-red form-btn" href="/books">Cancel</a>
            <button class="btn btn-primary-yellow form-btn" type="submit">Create</button>
        </div>
            
        </form>
    </div>
</div>    
















