<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>tolanbrary</title>
</head>

<body>

<div class="header"><%- include('../partials/header')%></div>
<div class="container">
    <%- include('../partials/errorMessage')%>
    <%- body %>

</div>
<div class="footer"><h3>©TOLANLABS</h3></div>

    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>


    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <!-- <script>
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginImageResize,
            FilePondPluginFileEncode
        );

        FilePond.setOptions({
            stylePanelAspectRatio: 150 / 100,
            imageResizeTargetWidth: 100,
            imageResizeTargetHeight: 150
        })
        FilePond.parse(document.body);
    </script> -->

    <script src="/js/fileUpload.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>