@media only screen and (max-width: 600px){
    header nav .nav-links{
        display: none;
    }
    header{
        width: 100vw;
    }
   
       
    
    .recently-added-books-images-container div .image-container img{
        width: 250px;
        height: 350px;
    }
   .container .recently-added-books-images-container div .image-container{
        width: 270px;
        height: 370px;  
             
    }
    .container .recently-added-books-images-container div{
        grid-template-columns: repeat(1,1fr);
    }
    .text-qoute{
        padding: 3rem;
        font-size: 2rem;
        
    }
    .container .hero-text .text-qoute-said{
        font-size: 1rem;
       
        
    }
    .container .hero-text{
        top: -15vh;
    }
    body header nav .nav-logo{
        
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100vw;
        
        
    }
    body header nav .nav-logo a svg{
        
        top: 1.5vh;
       
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .nav{
        padding-left: 0px;
        padding-right: 0px;
        
        justify-content:center;
        align-items: center;
       
        
        width: 96% !important;
        margin-left: 1vw;
    }
   
    .container .recently-text-container{       
        top: 60vh;
               
     }
    .container .recently-text-container p{
       
        font-size: 25px;
       
    }
    .container .SEE-text-container{        
        bottom: -600px;
     }
    .container .SEE-text-container a{
       
        font-size: 25px;
      
    }
    .container .SEE-text-container a:hover{
        color: var(--color-text-white)
    }
     .footer{
       
        bottom: -650px;
    }
    
    .container .recently-added-books-images-container{   
    top:65vh;
       
    
    }
    #responsiveNav{
        
        width: 50px;
        transform: translate(-10px, 0px);
    }
    #line{
        background-color: var(--color-text-white) ;
        width: 40px;
        height: 4px;
        margin-top: 5px;
    }
    #line:first-child{
        margin-top: 0px;
    }

    header nav #responsiveNav #hambMenu {
        width: 100vw;
        position: absolute;
        top: 5.5vh;
        left: -83vw;
        padding-top: 15px;
        transform: translate(0px, -400px);
        opacity: 0;
        transition: transform .3s ease-in-out;
        
        
        background-color: var(--color-text-yellow) ;

    }
  
    header nav #responsiveNav #hambMenu ul{
        display: block;
        
    }
    header nav #responsiveNav #hambMenu ul li a{
        text-decoration: none;
        color:var(--color-background-dark) ;
        font-size: 25px;
        
        
    }
    header nav #responsiveNav #hambMenu ul li{
        list-style: none;
        text-align: center;
        height: 50px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--color-background-dark);
    }
    header nav #responsiveNav #hambMenu ul li:last-child{
        margin-bottom: 0px;
        border-bottom: unset

    }
   

    #line{
        transform: rotate(0deg);
        transition: transform .3s ease-in-out;
    }
   


}

