@media only screen and (max-width: 600px){
    header nav .nav-links{
        display: none;
    }
    header{
        width: 100vw;
    }
   
       
    
    .recently-added-books-images-container div .image-container img{
        width: 250px;
        height: 350px;
    }
   .container .recently-added-books-images-container div .image-container{
        width: 270px;
        height: 370px;  
             
    }
    .container .recently-added-books-images-container div{
        grid-template-columns: repeat(1,1fr);
    }
    .text-qoute{
        padding: 3rem;
        font-size: 2rem;
        
    }
    .container .hero-text .text-qoute-said{
        font-size: 1rem;
       
        
    }
    .container .hero-text{
        top: -15vh;
    }
    body header nav .nav-logo{
        
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100vw;
        
        
    }
    body header nav .nav-logo a svg{
        
        top: 1.5vh;
       
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .nav{
        padding-left: 0px;
        padding-right: 0px;
        
        justify-content:center;
        align-items: center;
       
        
        width: 96% !important;
        margin-left: 1vw;
    }
   
    .container .recently-text-container{       
        top: 60vh;
               
     }
    .container .recently-text-container p{
       
        font-size: 25px;
       
    }
    .container .SEE-text-container{        
        bottom: -600px;
     }
    .container .SEE-text-container a{
       
        font-size: 25px;
      
    }
    .container .SEE-text-container a:hover{
        color: var(--color-text-white)
    }
     .footer{
       
        bottom: -650px;
    }
    
    .container .recently-added-books-images-container{   
    top:65vh;
       
    
    }
    #responsiveNav{
        
        width: 50px;
        transform: translate(-10px, 0px);
    }
    #line{
        background-color: var(--color-text-white) ;
        width: 40px;
        height: 4px;
        margin-top: 5px;
    }
    #line:first-child{
        margin-top: 0px;
    }

    header nav #responsiveNav #hambMenu {
        width: 100vw;
        position: absolute;
        top: 5.5vh;
        left: -83vw;
        padding-top: 15px;
        transform: translate(0px, -400px);
        opacity: 0;
        transition: transform .3s ease-in-out;
        
        
        background-color: var(--color-text-yellow) ;

    }
  
    header nav #responsiveNav #hambMenu ul{
        display: block;
        
    }
    header nav #responsiveNav #hambMenu ul li a{
        text-decoration: none;
        color:var(--color-background-dark) ;
        font-size: 25px;
        
        
    }
    header nav #responsiveNav #hambMenu ul li{
        list-style: none;
        text-align: center;
        height: 50px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--color-background-dark);
    }
    header nav #responsiveNav #hambMenu ul li:last-child{
        margin-bottom: 0px;
        border-bottom: unset

    }
   

    #line{
        transform: rotate(0deg);
        transition: transform .3s ease-in-out;
    }

    
    .footer h3{

       color: var(--color-background-dark);
       font-weight: 900;
    }
   


    /* authors */
    .search-author input{
        width: 250px;
    }
    .authors-heading h2{
        font-size: 50px;
        margin-bottom: 2rem;
    }
    .authors-table{
        width: 350px;
        margin-top: 15px;
        margin-left: 10px;
       
    }
    body .container .authors-grid-container .authors-table table th, td{
        width:20px;
        font-size: 15px;
        
    }
    .authors-table table td:first-child{
        width: 30px;
        
    }
    .authors-table table td:last-child .btn-primary-red{
        font-size: 15px;
        padding: 0px;
        text-align: start;
       
        width: fit-content;
    }
    .new-book-page-container .section-hero-text{
        font-size: 30px;
        margin-bottom: 0px;
    }
    .books-page-container .section-hero-text{
        font-size:  20px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .books-page-container form{
        flex-direction: column;
    }
    .books-page-container form div{
        margin: 15px 0px 0px 0px;
    }
    .books-page-container form div:first-child{
        margin: 0px;
    }
    .books-page-container .img-grid-container .books-by-the-author-grid{
        grid-template-columns: 1fr;
    }
    .card{
        display: grid;
        grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
       
        ;
        grid-gap: 1rem;
        background-color: var(--color-text-yellow);
        width: 230px;
        min-height: 330px;
        border-radius:.3rem ;
        padding: 15px;
    }
    .control-btn-container .btn-primary-yellow, .control-btn-container .btn-primary-red{
        font-size: 20px;
        width: fit-content;
        text-align: center;
        height: fit-content;
        
    }
  
    .show-book-btn{
        margin-left: 10px;
    }
    
    .show-book-container .section-hero-text{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
.img-grid-container .books-by-the-author-grid{
    grid-template-columns: repeat(1,1fr);
   
   
}
.books-by-author-text h2{
    font-size: 25px;
}
.books-by-author-text{
     width: 350px;
     margin: auto;
     

}
.show-author-container .author-name{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}
.show-author-container .btn-container a{
    margin-right: 15px;
    width: 150px;
    text-align: center;
    height: 45px;
}
.books-by-the-author-grid{
    
}
.books-by-author-text{
    margin-top: 0px;
}
.show-author-container{
    margin-top: 4vh;
}
.img-grid-container{
    margin-top: 30px;
}

.show-author-container .btn-container{
    margin-bottom: 30px;
}
.show-author-container .btn-container .btn{
    width: 148px;
    font-size: 25px;
    height: fit-content;
}
}

